body{
    background-color: black;
    color: white;
    text-align: center;
}
.y2{
    display: inline-flex;
}
li{
    padding: 9px;
    margin: 2px;
    margin-top: 1px;
    font-size: 20px;
}
img{
    padding-left: 20px;
}
.progname{
    color: rgb(255, 145, 0);
    font-size: 23px;
    padding-left: 1px;
}
.man{
padding: 0px;
}
.prg{
    color: yellow;
    margin-left: 65px;
}
.nav-item{
    margin-left: 13px;
}
.nav-link{
    margin-left: 13px;
}
.text{
    color: rgb(151, 2, 2);
}
.center{
    text-align: center;
}
.btn{
    color: rgb(255, 0, 0);
    background-color: rgb(0, 0, 118);
    border-radius: 100px;
    border: 5px red double;
    cursor: pointer;
    width: 150px;
    height: px;
   font-size: 19px;
}
li{
    cursor: pointer;
 }
