body{
    background-color: black;
    color: white;
}
.y2{
    display: inline-flex;
}
li{
    padding: 9px;
    margin: 2px;
    margin-top: 1px;
    font-size: 20px;
}
img{
    padding-left: 20px;
}
.progname{
    color: rgb(255, 145, 0);
    font-size: 23px;
    padding-left: 1px;
}
.man{
padding: 0px;
}
.prg{
    color: yellow;
    margin-left: 65px;
}
.nav-item{
    margin-left: 13px;
}
.nav-link{
    margin-left: 13px;
}
.text{
    color: rgb(151, 2, 2);
    animation-name: text;
    animation-name: color;
    animation-duration: 5s;
}
.center{
    text-align: center;

}
.btn{
    color: rgb(255, 0, 0);
    background-color: rgb(0, 0, 118);
    border-radius: 100px;
    border: 5px red double;
    cursor: pointer;
    width: 150px;
    height: px;
    font-size: 19px;
}
li{
    cursor: pointer;
    animation-name: color;
    animation-duration: 5s;
}
.m{
    padding-left: 420px;
}
.ig{
    width: 430px;
    height: 200px; 
    border-radius: 80px;
}

.mama{
    width: 100%;
    display: flex;
}

.mama img{
    width: 35%;
    border-radius: 100px;
}
.mama h2{
    color: yellow;
    margin-top: 6%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 70px;
}
.mae{
    width: 100%;
    display: flex;
}
.mae img{
    width: 35%;
    border-radius: 100px;
    margin-left: 400px;
}
.mae h2{
    color: yellow;
    margin-top: 6%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 70px;
}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
        background-color: black;
}
::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.509);
    border-radius: 40px;
}
footer{
    background-color: rgb(49, 51, 52);
    width: 100%;
    height: 300px;
    color: darkred;
    text-align: center;
}
footer a{
    color: red;
    font-size: 20px;
}
.o{
    padding-left: 30px;
}
.a{
    color: yellow;
}